h2{
    padding:30px;
}
.top{
    display: flex;
    padding: 200px;
    align-items: center;
    margin-top: -200px;
}
.top .half-display{
    width: 50%;
}
.top .half-display img{
    width: 70%;
    padding:40px 0px 0px 200px;
}

.top .half-display .top-link{
    text-decoration: none;

    background-color: rgb(196, 5, 37);
    border-radius: 10px;
    color: cornsilk;
    margin-left: 5px;
}

/* Popular collection */


.mid-header{
    text-align: center;
}
.middle-part{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin-left: 100px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.fas .fa-star{
    font-size: 12px;
}
.middle-blog .raiting{
    color: rgb(255, 200, 60);
}
.product-info{
    display: flex;
    align-items: center;
}
.middle-blog{
    border: 5px solid whitesmoke;
    padding: 20px;
    box-shadow: 10px 10px 40px rgb(228, 218, 215);
    width: 82%;
    border-image-slice: 1;
    border-radius: 10px;
}
.middle-blog{

}
section a{
    text-decoration: none;
    padding-left: 50px;
    text-align: center;
    margin-left: 1140px;
}
.last-sec{
    display: flex;
    padding: 100px;
    align-items: center;
}
.last-sec .last{
    width: 50%;
}
.last .link-tag{
    text-decoration: none;
    background-color:rgb(241, 44, 110) ;
    padding: 10px 10px;
    border-radius: 5px;
   margin-left: 0px;
   color: seashell;
}
.last img{
    width: 300px;
   padding: 100px 0px 0px 180px;
   margin-top: -80px;
}