body{
    margin: 0%;
    font-family: 'Domine', serif;






}
h2{
    padding:30px;
    font-size: 40px;
}
.top{
    display: flex;
    padding: 100px;
    align-items: center;
    margin-top: -200px;
}
.top .half-display{
    width: 50%;
}
.top .half-display img{
    width: 70%;
    padding:40px 0px 0px 200px;
    transform-style: preserve-3d;
    transform: rotate(360deg);
    transition: width 2s;
}
.top .half-display img:hover{
    width: 500px;
    transform: rotate(180deg);

}

.top .half-display .top-link{
    text-decoration: none;
    background-color: rgb(196, 5, 37);
    border-radius: 10px;
    color: cornsilk;
    margin-left:5px;
    border-width: 10px;
}

/* Popular collection */


.mid-header{
    text-align: center;
}
.middle-part{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin-left: 100px;
    grid-column-gap: 20px;
    grid-row-gap: 30px;
}

.fas .fa-star{
    font-size: 12px;
}
.middle-blog .raiting{
    color: rgb(255, 200, 60);
}
.product-info{
    display: flex;
    align-items: center;
}
.middle-blog{
    border: 5px solid whitesmoke;
    padding: 20px;
    box-shadow: 10px 10px 40px rgb(228, 218, 215);
    width: 82%;
    border-image-slice: 1;
    border-radius: 10px;
}
.middle-blog{

}
section a{
    text-decoration: none;
    /* padding-left: 50px; */
    text-align: center;
    margin-left: 1140px;
}
.last-sec{
    display: flex;
    padding: 100px;
    align-items: center;
}
.last-sec .last{
    width: 50%;
    font-size: 18px;
}
.last .link-tag{
    text-decoration: none;
    background-color:rgb(241, 44, 110) ;
    padding: 10px 10px;
   margin-left: 0px;
   color: seashell;
}
.last img{
    width: 400px;
   padding: 100px 0px 0px 120px;
   margin-top: -100px;
}
footer{
    text-align: center;
    color: rgb(253, 253, 253);
    font-size: 15px;
    font-style: calc();
    padding: 30px;
    background-color: black;
}
@media only screen and (max-width:688px) {
   .top{
       width: 100%;
       flex-direction: column;
       margin-top: 0px;
       padding: 10px;
       transition: width 1s;
       transform-style: flat;
       grid-template-columns: repeat(1, 1fr);

   }
   .top .half-display img{
       padding: 0px;
       width:100%
   }
   .middle-part{
       grid-template-columns: repeat(1, 1fr);
       padding: 0px;
       margin-left: 0px;
   }
   .last-sec {
    flex-direction: column;
    padding: 0px;
    }
    footer{
        padding: 0px;
    }
    .last img{
        padding: 0px;
        margin-top: 30px;
        width:220px
    }
}
.link{
    display: none;
}
